{
	"identifier":"user",
	"ipaddr":"192.168.56.10",
	"slot":"4",
	"port":"4000"
}

{
	"identifier":"SG",
	"ipaddr":"192.168.56.222",
	"slot":"0",
	"port":"4001"
}

{
	"identifier":"GRID",
	"ipaddr":"192.168.56.102",
	"slot":"2",
	"port":"4002"
}

{
	"identifier":"SOURCE",
	"ipaddr":"192.168.56.103",
	"slot":"2",
	"port":"4003"
}

{
	"identifier":"LOAD",
	"ipaddr":"192.168.56.104",
	"slot":"2",
	"port":"4004"
}

{
	"identifier":"ACMGSG",
	"ipaddr":"192.168.56.111",
	"slot":"2",
	"port":"4005"
}